<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">
        <title>DeAcero | Sistema de rastreo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- CSS code from Bootply.com editor -->
        
        <link href="styles/main.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
<body>
        
<!-- begin template -->

<div class="navbar navbar-custom navbar-fixed-top">
  <div class="navbar-header"><a class="navbar-brand" href="#"><img alt="DeAcero"  height="30px" src="images/DeaLogo.png"></a>
    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell navbar__search-icon" ></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Opciones</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Salir</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user navbar__search-icon" ></i> Nombre Vendedor<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Opciones</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Salir</a></li>
          </ul>
        </li>
    </ul>
  </div>
</div>
<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-4" id="left">
    
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-tabs__item active"><a data-toggle="tab" href="#Oportunidades" class="nav-tabs__link">Pedidos</a></li>
        </ul>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" placeholder="Buscar orden" aria-describedby="basic-addon1">
        </div>
        &nbsp;
        
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Orden No: 539910
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <ul>
                        <li><strong>Estatus: <font color="#1CBD65">En tiempo</font></strong></li>
                        <li>
                            <strong>Ubicación:</strong> 
                            Sucursal norte, GDL, JAL.
                        </li>
                        <li>
                            <strong>ETA: </strong> 28 Enero 2016
                        </li>

                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Orden No: 539911
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body" align="center">
                  <table width="75%">
                      <tr>
                          <td><strong>Estatus:</strong></td>
                          <td align="right"><strong><font color="#1CBD65">En tiempo</font></strong></td>
                      </tr>
                      <tr>
                          <td><strong>Ubicación:</strong></td>
                          <td align="right"> Sucursal Norte, GDL, Jal.</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td><strong>ETA:</strong></td>
                          <td align="right"> 28 Enero 2016</td>
                      </tr>
                      <tr>
                          <td><strong>Origen:</strong></td>
                          <td align="right">Sucursal San Nicolas, SN, NL.</td>
                      </tr>
                  </table>
                  <br>
                  <strong> Historial: </strong>
                  <table border="1" width="75%">
                      <tr>
                          <td style="padding: 5px;"><strong>15-01-2016</strong></td>
                          <td style="padding: 5px;">Proceso del pedido</td>
                      </tr>
                      <tr>
                          <td style="padding: 5px;"><strong>15-01-2016</strong></td>
                          <td style="padding: 5px;">Salio de bodega a destino</td>
                      </tr>
                      <tr>
                          <td style="padding: 5px;"><strong>18-01-2016</strong></td>
                          <td style="padding: 5px;">Escala Coahuila</td>
                      </tr>
                      <tr>
                          <td style="padding: 5px;"><strong>20-01-2016</strong></td>
                          <td style="padding: 5px;">Escala San Luis Potosí</td>
                      </tr>
                  </table>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Orden No: 539913
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    
                  </div>
                </div>
              </div>
            </div>
        
    </div>
    <div class="col-xs-8" id="right">
      <div id="map"></div>
      <!-- Labels on hover -->
      <div id = "mouseLabel"></div>
      <div id="legend">My first legend!</div>
    </div>
    
  </div>
</div>
<!-- end template -->

        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

        <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <!--<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.3.0/bootstrap-slider.min.js
"></script>-->

        <!-- Mapper -->
        <script src="js/map.io.js"></script>
        <script>var inversionIcon = "img/inversion.png"</script>

    <!-- Google Maps API -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi9Im1JXY7XONcKsz7mmMqnj5VXGntkhg&callback=initMap"></script>
        
    </body>
</html>
