/*CUSTOM CSS*/
.panel, .input-group-addon, .form-control{
  border-radius: 0px !important;
}

.panel-group .panel+.panel{
  margin-top: 0px !important;
}


/* line 1, ../../../templates/assets/src/sass/_base.scss */
html {
  height: 100%;
}

/* line 5, ../../../templates/assets/src/sass/_base.scss */
body {
  font-family: "Helvetica";
  height: 100%;
}
@media (min-width: 992px) {
  /* line 5, ../../../templates/assets/src/sass/_base.scss */
  body {
    padding-top: 50px;
  }
}

/* line 13, ../../../templates/assets/src/sass/_base.scss */
#main {
  height: 100%;
}
/* line 15, ../../../templates/assets/src/sass/_base.scss */
#main > .row {
  height: 100%;
}

/* line 20, ../../../templates/assets/src/sass/_base.scss */
#left {
  height: 100%;
  overflow-y: scroll;
  padding: 0;
}

/* line 26, ../../../templates/assets/src/sass/_base.scss */
#right {
  height: 100%;
  overflow: hidden;
  padding: 0;
}

/* line 32, ../../../templates/assets/src/sass/_base.scss */
#map {
  width: 100%;
  height: 100%;
}

/* line 37, ../../../templates/assets/src/sass/_base.scss */
div.img img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.8;
}
/* line 41, ../../../templates/assets/src/sass/_base.scss */
div.img img:hover {
  opacity: 1;
}

/* line 1, ../../../templates/assets/src/sass/_navbar.scss */
.navbar-custom {
  background-color: rgba(34, 34, 34, 0.9);
  color: #FFF;
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 400;
  letter-spacing: 1px;
}
@media (min-width: 992px) {
  /* line 1, ../../../templates/assets/src/sass/_navbar.scss */
  .navbar-custom {
    padding: 0 50px;
  }
}
/* line 12, ../../../templates/assets/src/sass/_navbar.scss */
.navbar-custom .icon-bar {
  background-color: #FFF;
}
/* line 16, ../../../templates/assets/src/sass/_navbar.scss */
.navbar-custom a {
  color: #FFF;
}
/* line 21, ../../../templates/assets/src/sass/_navbar.scss */
.navbar-custom li > a:hover {
  background-color: #255287;
}
/* line 24, ../../../templates/assets/src/sass/_navbar.scss */
.navbar-custom li > a:focus {
  background-color: #255287;
}
/* line 29, ../../../templates/assets/src/sass/_navbar.scss */
.navbar-custom .form-control:focus {
  border-color: #255287;
  outline: 0;
  box-shadow: inset 0 0 0;
}

/* line 38, ../../../templates/assets/src/sass/_navbar.scss */
.navbar-form {
  margin: 0;
}
/* line 42, ../../../templates/assets/src/sass/_navbar.scss */
.navbar__input.form-control {
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  background: #222222;
  border: 0;
  color: #FFF;
  height: 50px;
  padding: 0;
  width: 0;
}
/* line 51, ../../../templates/assets/src/sass/_navbar.scss */
.navbar__input.form-control.active {
  padding: 10px;
  width: 165px;
}
/* line 57, ../../../templates/assets/src/sass/_navbar.scss */
.navbar__search {
  background: transparent;
  border: none;
}
/* line 62, ../../../templates/assets/src/sass/_navbar.scss */
.navbar__search-icon:hover, .navbar__search-icon:focus {
  color: #4294E5;
}

/* line 3, ../../../templates/assets/src/sass/_tabs.scss */
.nav-tabs__item {
  background-color: #F3F5F5;
  vertical-align: bottom;
}
/* line 7, ../../../templates/assets/src/sass/_tabs.scss */
.nav-tabs__item.active {
  background-color: #FFF;
  border-top: 5px solid #4294E5;
}
/* line 11, ../../../templates/assets/src/sass/_tabs.scss */
.nav-tabs__item.active .nav-tabs__link {
  color: #4294E5;
}
/* line 14, ../../../templates/assets/src/sass/_tabs.scss */
.nav-tabs__item.active .nav-tabs__link:hover, .nav-tabs__item.active .nav-tabs__link:focus, .nav-tabs__item.active .nav-tabs__link:visited {
  color: #4294E5;
}
@media (min-width: 992px) {
  /* line 18, ../../../templates/assets/src/sass/_tabs.scss */
  .nav-tabs__item:last-child {
    line-height: 60px;
  }
}
@media (min-width: 992px) {
  /* line 23, ../../../templates/assets/src/sass/_tabs.scss */
  .nav-tabs__item:last-child .nav-tabs__link {
    line-height: 60px;
    padding-bottom: 0;
    padding-top: 0;
  }
}
/* line 33, ../../../templates/assets/src/sass/_tabs.scss */
.nav-tabs__link {
  color: #818387;
  border-radius: 0 !important;
}
@media (min-width: 992px) {
  /* line 33, ../../../templates/assets/src/sass/_tabs.scss */
  .nav-tabs__link {
    height: 60px;
  }
}

/* line 43, ../../../templates/assets/src/sass/_tabs.scss */
.tab-content__container {
  padding: 0 15px;
}

/* line 1, ../../../templates/assets/src/sass/_particular.scss */
.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

/* line 9, ../../../templates/assets/src/sass/_particular.scss */
.wizard {
  margin: 20px auto;
  background: #FFF;
}
/* line 12, ../../../templates/assets/src/sass/_particular.scss */
.wizard .nav-tabs {
  position: relative;
  margin: 40px auto;
  margin-bottom: 0;
  border-bottom-color: #E0E0E0;
}
/* line 17, ../../../templates/assets/src/sass/_particular.scss */
.wizard .nav-tabs > li {
  width: 25%;
}
/* line 19, ../../../templates/assets/src/sass/_particular.scss */
.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  padding: 0;
}
/* line 25, ../../../templates/assets/src/sass/_particular.scss */
.wizard .nav-tabs > li a:hover {
  background: transparent;
}
/* line 42, ../../../templates/assets/src/sass/_particular.scss */
.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
}
/* line 52, ../../../templates/assets/src/sass/_particular.scss */
.wizard li.active span.round-tab {
  background: #FFF;
  border: 2px solid #5bc0de;
}
/* line 55, ../../../templates/assets/src/sass/_particular.scss */
.wizard li.active span.round-tab i {
  color: #5bc0de;
}
/* line 60, ../../../templates/assets/src/sass/_particular.scss */
.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  -moz-transition: ease-in-out 0.1s;
  -o-transition: ease-in-out 0.1s;
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}
/* line 72, ../../../templates/assets/src/sass/_particular.scss */
.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}
/* line 76, ../../../templates/assets/src/sass/_particular.scss */
.wizard h3 {
  margin-top: 0;
}
/* line 79, ../../../templates/assets/src/sass/_particular.scss */
.wizard > div.wizard-inner {
  position: relative;
}

/* line 83, ../../../templates/assets/src/sass/_particular.scss */
.connecting-line {
  height: 2px;
  background: #E0E0E0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

@media (max-width: 585px) {
  /* line 96, ../../../templates/assets/src/sass/_particular.scss */
  .wizard {
    width: 90%;
    height: auto !important;
  }
  /* line 99, ../../../templates/assets/src/sass/_particular.scss */
  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  /* line 104, ../../../templates/assets/src/sass/_particular.scss */
  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }

  /* line 110, ../../../templates/assets/src/sass/_particular.scss */
  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
/* line 117, ../../../templates/assets/src/sass/_particular.scss */
span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: #FFF;
  border: 2px solid #E0E0E0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
/* line 131, ../../../templates/assets/src/sass/_particular.scss */
span.round-tab i {
  color: #555;
}
/* line 134, ../../../templates/assets/src/sass/_particular.scss */
span.round-tab:hover {
  color: #303030;
  border: 2px solid #303030;
}

@media screen {
  /* line 2, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica {
    background-color: #FFF;
    margin: 40px auto;
    padding: 0;
  }
  /* line 7, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__header {
    margin: 0 0 40px;
    position: relative;
  }
}
@media screen and (min-width: 992px) {
  /* line 7, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__header {
    height: 500px;
  }
}
@media screen {
  /* line 16, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__carousel.col-md-8 {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 992px) {
  /* line 16, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__carousel.col-md-8 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen {
  /* line 25, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__carousel.col-md-8 .carousel-inner {
    max-height: 500px;
  }
  /* line 28, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__carousel-controls {
    position: absolute;
    top: 50%;
  }
  /* line 33, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__main {
    padding: 10px 30px 16px;
  }
  /* line 37, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__specs {
    background-color: #303030;
    color: #FFF;
    height: 100%;
    padding: 0;
  }
  /* line 43, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__specs-header {
    margin-bottom: 20px;
    padding: 30px 30px 0px;
  }
  /* line 47, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__specs-header h1 {
    font-size: 20px;
    font-weight: normal;
  }
  /* line 52, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__specs-header h2 {
    font-size: 16px;
    color: #4294E5;
  }
  /* line 59, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__spec {
    display: inline-block;
    margin: 0 0 14px 10px;
  }
  /* line 63, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__spec i {
    color: #4294E5;
  }
  /* line 66, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__spec-label {
    font-size: 13px;
    margin-top: 0;
  }
  /* line 71, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__spec-data {
    font-size: 16px;
    margin: 0;
  }
  /* line 76, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__icon {
    color: #4294E5;
    min-width: 28px;
  }
  /* line 82, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica footer .row {
    margin: 0;
  }
  /* line 88, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__cta {
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: rgba(66, 148, 229, 0.7);
    bottom: 0;
    display: block;
    padding: 30px 0;
    text-align: center;
    width: 100%;
    color: #FFF;
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  /* line 88, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__cta {
    position: absolute;
  }
}
@media screen {
  /* line 102, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__cta:hover {
    background-color: rgba(66, 148, 229, 0.9);
    color: #FFF;
    text-decoration: none;
  }
  /* line 109, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__details {
    margin: 0 0 20px 0;
  }
  /* line 115, ../../../templates/assets/src/sass/_ficha-tecnica.scss */
  .ficha-tecnica__description h4, .ficha-tecnica__location h4, .ficha-tecnica__table h4 {
    color: #4294E5;
    font-weight: 200;
  }
}
